p{
    font-size: 20;
    font: century;
    color: blueviolet;
}
body
{
    background:radial-gradient(200px top, ellipse, white, #1162ac, black);;
}
h1
{
    font-size: 30px;
    color: coral;
    font: arial;
}
h3
{
    color:darkgoldenrod;
    font-size: 35;
}
.parrafo
{
    color: green;
    font-family: 'Franklin Gothic Medium';

}
footer
{
    color: indianred;
    text-align: center;


}
body
{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(244,45,253,1) 100%);